

.product-div{
    width:  420px;
    height: 227px;
    margin-top: 50px;
    

 
}

.image-div{
    height: 180px;
    width: 200px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    margin-left: 2px;
}

.overflow{
    overflow: auto;
    height: 80px;
    width: 216px;
   font-size: 13px;
    margin-top: -5px;
}



.button-view{
    margin-left: 10px;
    width: 70px;
  
}
card-div{
    float: left;
    padding: 0%;
}

.categoryy{
    margin-left: 50px;
    padding-top: 10px;
    
}

.img{
    height: 400px;
    width: 100%;
}
